.progressBarOne {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  width: 300px; /* Установите желаемую ширину прогресс-бара */
  height: 10px; /* Установите желаемую высоту прогресс-бара */
  background-color: #ccc; /* Цвет фона прогресс-бара */
}

.progressBarTwo {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  width: 300px; /* Установите желаемую ширину прогресс-бара */
  height: 10px; /* Установите желаемую высоту прогресс-бара */
  background-color: #ccc; /* Цвет фона прогресс-бара */
}

.progressBarThree {
  display: flex;
  justify-content: space-between;
  width: 300px; /* Установите желаемую ширину прогресс-бара */
  height: 10px; /* Установите желаемую высоту прогресс-бара */
  background-color: #ccc; /* Цвет фона прогресс-бара */
}

.progressBarPart {
  flex-grow: 1;
  transition: background-color 0.3s ease;
}

.completed {
  background-color: #4caf50; /* Цвет завершенной части прогресс-бара */
}

.wrap {
  font-size:;
  display: flex;
  margin-top: 20px;
}
