.progressBarOne {
  display: flex;
  justify-content: space-between;
  margin-right: 14px;
  width: 80px; /* Установите желаемую ширину прогресс-бара */
  height: 4px; /* Установите желаемую высоту прогресс-бара */
  background-color: #303030; /* Цвет фона прогресс-бара */
  border-radius: 2px;
  @media screen and (max-width: 767px) {
    margin-bottom: 32px;
  }
}

.progressBarTwo {
  display: flex;
  justify-content: space-between;
  margin-right: 14px;
  margin-bottom: 20px;
  width: 80px; /* Установите желаемую ширину прогресс-бара */
  height: 4px; /* Установите желаемую высоту прогресс-бара */
  background-color: #303030; /* Цвет фона прогресс-бара */
  border-radius: 2px;
}

.progressBarThree {
  display: flex;
  justify-content: space-between;
  width: 80px; /* Установите желаемую ширину прогресс-бара */
  height: 4px; /* Установите желаемую высоту прогресс-бара */
  background-color: #303030; /* Цвет фона прогресс-бара */
  border-radius: 2px;
}

@media screen and (max-width: 767px) {
  .progressBarOne,
  .progressBarTwo,
  .progressBarThree {
    width: 50px;
    height: 4px;
  }
}

.progressBarPart {
  flex-grow: 1;
  transition: background-color 0.3s ease;
}

.completed {
  background-color: #ef8964; /* Цвет завершенной части прогресс-бара */
  border-radius: 2px;
}

.wrap {
  display: flex;
}
