.overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(4, 4, 4, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transform: scale(100);
  transform: rotate(0deg);
  visibility: visible;
  transition:
    opacity 1000ms linear,
    transform 500ms linear;
}
.overlayhidden {
  opacity: 0;
  visibility: hidden;
  transform: scale(0);
  transform: rotate(360deg);
  transition:
    opacity 1000ms linear,
    transform 500ms linear;
}
