@import-normalize;
/* bring in normalize.css styles */

/* @import '~node_modules/modern-normalize/modern-normalize.css'; */

:root {
  /* background colors */
  --primary-bgc-color: #040404;
  /* text colors */
  --primary-text-color: #efede8;
  --secondary-text-color: rgba(239, 237, 232, 0.3);
  /* accent colors */
  --bright-accent-color: #e6533c;
  --light-accent-color: #ef8964;
  --beige-accent-color: #efa082;
  /* action colors */
  --hover-color: #e6533c;
  --success-color: #3cbf61;
  --error-color: #d80027;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--primary-bgc-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-size: inherit;
}

a {
  text-decoration: none;
  outline: none;
}

p,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  display: block;
  height: auto;
}
button {
  cursor: pointer;
}
